<html lang="en">
<head>
body {
  background-color: #FFE59A;
      text-color: 0000000;
 header {
        background-color: #BED9FF;
        color: white;
        text-align: center;
        padding: 20px;
      }}
