<html lang="en">
<html>
<head>
 <link rel="stylesheet" href="style.css">
<body>
  background-color: #FFE59A;
      text-color: 0000000;
 header {
        background-color: #BED9FF;
        color: white;
        text-align: center;
        padding: 40 px;
    text-color: 0000000;
      }
  img {
            display: block;
            margin: auto;
            margin-top: 50 px;
        }
   img {
            display: block;
            margin: auto;
            margin-top: 70 px;
       <a href="https://studio.code.org/projects/gamelab/4gAVXhQuZTDWkOs1iRQHhoKUgKvEFb28f_wFrYQcbyU">My bad Game UWU</a>
    <br>
  <img src="https://cdn12.picryl.com/photo/2016/12/31/kitten-cat-cat-baby-animals-6023b2-1024.jpg?update-time=6179428714087&size=rsponsive640" alt="cat Image" width="200">
<img src="C:\Users\SerenityVonGohren\OneDrive - Hope Academy\Pictures\Saved Pictures\20220703_174525.jpg?update-time=6179428714087&size=rsponsive640" alt="bald Image" width="200">
  
<html>
